<br><section id="home" class="home-section d-flex align-items-center">
  <div class="container px-4 px-md-5">
    <div class="row align-items-center gy-5"> <div class="col-lg-6 order-2 order-lg-1 text-center text-lg-start">
        <p class="greeting mb-2">Hello, I'm Isurika Sathsarani</p>
        <h1 class="display-4 fw-bold main-title mb-4">
          Software Engineer, <br class="d-none d-md-block">
          <span class="text-highlight">Web Developer,</span> <br class="d-none d-md-block">
          Problem Solver
        </h1>
        <button class="btn btn-dark px-4 py-2 btn-hire">Hire Me</button>
      </div>

      <div class="col-lg-6 order-1 order-lg-2 d-flex justify-content-center justify-content-lg-end">
        <div class="image-wrapper">
          <div class="shape-bg"></div> 
          <img src="/assets/pic.png" class="profile-img img-fluid" alt="Isurika Sathsarani">
        </div>
      </div>

    </div>
  </div>
</section>