<section class="home-section d-flex align-items-center">
  <div class="container">
    <div class="row align-items-center">
      
      <div class="col-lg-6 mt-5 mt-lg-0">
        <p class="greeting mb-2">Hello, I'm Isurika Sathsarani</p>
        <h1 class="display-4 fw-bold main-title mb-4">
          Software Engineer, <br>
          <span class="text-highlight">Web Developer,</span> <br>
          Problem Solver
        </h1>
        <button class="btn btn-dark px-4 py-2 btn-hire">Hire Me</button>
      </div>

      <div class="col-lg-6 d-flex justify-content-center justify-content-lg-end mt-5 mt-lg-0">
        <div class="image-wrapper">
          <div class="shape-bg"></div> 
          <img src="/public/pic.png" class="img-fluid main-image" alt="Isurika Sathsarani">
        </div>
      </div>
    </div>
  </div>
</section>