<nav class="navbar navbar-expand-lg fixed-top custom-nav">
  <div class="container-fluid px-4 px-md-5 py-3">
    <a class="navbar-brand fw-bold" href="#">Isurika Sathsarani</a>

    <button class="navbar-toggler border-0 shadow-none" type="button" 
            data-bs-toggle="collapse" data-bs-target="#navbarNav" 
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" style="margin-right: 420px;" id="navbarNav">
      <ul class="navbar-nav gap-lg-5">
        <li class="nav-item">
          <a class="nav-link active" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about">About Me</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/work">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact">Contact</a>
        </li>
      </ul>
    </div>

    <div class="d-none d-lg-flex align-items-center">
       <div class="menu-icon">
         <span class="bar-top"></span>
         <span class="bar-bottom"></span>
       </div>
    </div>
  </div>
</nav>